{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Furude{% endblock %}</title>
    {#    <link rel="stylesheet" type="text/css" href="{% static "secure_proxy/aux.css" %}"/> #}
</head>
<body>
    <div class="content">
        {% block content %}
            <h1>Error occured</h1>
            <span>Access forbidden</span>
        {% endblock %}
    </div>
    <div class="credits">
        <h1>Furude project</h1>
        <span>Oleg Mingalev, 2017</span>
    </div>
    <div class="img">
        <img src="{% block img %}{% static "common/furude_side.png" %}{% endblock %}"/>
    </div>
</body>
</html>
